* {
    font-family: 'Prompt', sans-serif;
    text-align: center;
    background-color: #ccc;
}

h1 {
    width: 50%;
    margin: 0 auto;
    color: #333;
    border-bottom: 5px solid #333;
}

h2, h3 {
    margin: 50px auto -50px auto;
    color: #444;
}

h3 {
    margin-bottom: -25px;
}

div, p, ol, li {
    width: 60%;
    margin: 50px auto;
    padding: 25px 0;
    border: 3px solid #111;
    background-color: #222;
    color: #eee;
}

div {
    background-color: #444;
}

div p, div ol, div li {
    width: 90%;
}

li {
    width: 90%;
    margin: 5px auto;
    background-color: #544;
}

li:nth-child(odd) {
    background-color: #644;
}

b {
    padding: 5px;
    border: 1px solid #000;
}

b.red {
    background-color: firebrick;
    border-color: #f21;
}

b.blue {
    background-color: dodgerblue;
    border-color: #159;
}

b.green {
    background-color: limegreen;
    border-color: #591;
    color: #131;
}

b.orange {
    background-color: darkorange;
    border-color: orangered;
}

i {
    background-color: #222;
    color: greenyellow;
}

.big-text {
    font-size: 5em;
    color: #f21;
}

#img-header {
    width: 512px;
    height: 345px;
    background-image: url(../cooking-time.jpg);
    background-size: cover;
    margin: 0 auto;
    border: 1px solid #333;
}

footer p {
    width: 100%;
    margin: 0;
    border: 0;
}

